HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

src/main/resources/superb-analog-439512-g8-e7979f6854cd.json
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


DockerDesktopWSL/main/ext4.vhdx
DockerDesktopWSL/disk/docker_data.vhdx

gradle/gradle-8.5-bin.zip
superb-analog-439512-g8-e7979f6854cd.json
superb-analog-439512-g8-firebase-adminsdk-l7nbt-2305deb251.json

# SSL 인증서 관련 파일
*.pkcs12
*.pem
*.crt
*.der
*.key
*.jks